*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background:#00a3a8;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    bottom: 40px;
    right: 50px;
    border-radius: 50%;
}
/* Hiệu ứng loading khi vào trang */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  /* Từ phần này là của header*/
header{
    position: sticky;
    z-index: 2;
    top:-10px;
    
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
ul{
    list-style-type: none;
}
ul > li > a{
    text-decoration: none;

}
.main.flex{
    background-color:#f3f3f3;
    height: 50px;
    align-items: center;
   
}
li > a{
    color: #212529;
}
.second.list{
    width: 30%;
   
}
.child.list_1{
    width: 100%;
}
.child.list_2{
    width: 30%;
}
.right{
    justify-content: space-around;
}
.sub{
    justify-content: space-evenly;
    width: 100%;
}
.sub > li > a:hover{
    color: #00a3a8;
}
.flex{
    display: flex;

}
.child_child > a > i{
    padding-right: 4px;
}
.main{
    justify-content: space-around;
}
.icon{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.icon > li > a > i{
    display: block;
    padding:8px;

}
.icon > li > a > i:hover {
    width: 100%;
    color:white;
    background-color: #00769c;
}
.search,.child.list_1{
    display: flex;
    align-items: center;
}
.search > a{
    padding-left: 10px;
}
.boat{
    float: left;
   font-size: 70px;
   margin-right: 10px;
}
.HOSPITAL{
    align-items: center;
   
   
}
.slogan > h2{
    color: #006f98;
}
.navi{
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px;
}
div > h4{
   color: #747373;
   font-size: small;
}
#nav{
 width: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}
.subnav{
    display: none;
    min-width: 15%;
    transition-duration: 0.3s;
}
.subnav > li > a{
    display: block;
    padding: 10px;
}
.subnav > li > a:hover{
    color: #00769c;
    text-decoration: underline;
}
.pos > a{
    line-height: 41.6px;
    display: block;
    padding: 0 10px;
}
.pos{
    display: block;
}
.pos:hover > a{
    background-color:#00769c;
    color: white;
}
.pos:hover .subnav{
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* Chỗ này trở xuống là của main */
main{
    padding: 0 10%;
}
.nav_child{

   
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 16px;
   padding-bottom: 12px;
}
.nav_child > div > i{
    bottom: 0;
    padding: 0 10px;
}
.nav_child > div > div > a{
    display: block;
    list-style-type: none;
    padding: 0 15px;
}
/* Từ phần này xuống là của about  */

.about > div{
    width: 70%;

}
.about > div > h1,p{
    padding: 5px 0;
}
.about > div > ol{
    list-style-type: circle;
}
.about > div:last-child > img{
    width: 100%;
    border-radius: 30px;
    margin-top: 15px;
    margin-left: 10%;
}

.about > div:last-child > img:hover{
    scale: 1.2;
    transition-duration: all 0.7s;
}
.about > div:last-child{
    overflow: hidden;

}
/*Từ phần này là của footer */

.foot_root{
    width: 100%;
    margin: 0 auto;
}
.foot_root > div:last-child > i{
    display: block;
    text-transform:capitalize;
    text-align: center;
}
.contact_foot{
    justify-content: space-evenly;
}
.contact_foot > div:nth-child(2) > ul > li{
    padding: 5px;
}
.contact_foot > div:first-child > h2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
footer{
    background:#00769c;
    padding-top: 10px;
    color: white;
}
.information > ul > li > a{
    color: white;
}


